@model CateringDemoSample.Models.Food

@{
    ViewData["Title"] = "Food";
}
<hr />
<div class="row">
    <div class="col-md-4">
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Name" class="control-label"></label>*@
                @Html.DisplayFor(e=>e.Name)
                @Html.HiddenFor(e => e.Name)
                @Html.HiddenFor(e => e.Id)
                
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Check" /> @Html.DisplayNameFor(model => model.Check)
                </label>
            </div>           
       
    </div>
</div>



